<header>
    <div class="header">
      <ul>
        <li>
          <a routerLink="">Home</a>
        </li>
        <li>
          <a routerLink="inventory">Inventory</a>
        </li>
        <li>
          <a routerLink="reports">Reports</a>
        </li>
        <li>
          <a routerLink="billing">Billing</a>
        </li>
        <li>
          <a routerLink="profile">Profile</a>
        </li>
        <li>
          <a routerLink="auth">Auth</a>
        </li>
      </ul>
    </div>
  </header>
  